body {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

@media screen (and max-width: 720px){
  img {
    width: 150px;
    height: 150px;
    }
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.table {
  width: 100%;
}
.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.specialcontainer{
    padding-top: 4em;
}

.block {
  position: relative;
}

p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  opacity: 0;
  margin: 0;
}

.block:hover p {
  color:white;
  font-size: 24px;
  opacity: 1;
}

.block:hover img {
  opacity: 0.5;
}

/* .post_content{
  position:absolute;
  bottom: 0;
  width:100%;
  height:10%;
opacity: 0;
}
.post_content:hover{
  opacity: 1;
} */

/* .post{
  width: 300;
  height: 300;
  background-position:center;
  bakcground-repeat: no-repeat;
  background-image: url(...insta_posts/ny.jpg);
}


.post:hover:after{
  content: attr(data-hover);
  font-size: 24px;
} */
