* {
  box-sizing: border-box;
}

.wrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

img {
  width: 1000px;
  height: auto;
  position: absolute;
  box-shadow: 5px 5px 12px grey
}

#pic1, #pic12, #pic23, #pic34, #pic45, #pic56, #pic67, #pic78, #pic89, #pic100, #pic111, #pic122, #pic133, #pic144, #pic155 {
  top: 3%
  left: 8%
}

#pic2, #pic13, #pic24, #pic35, #pic46, #pic57, #pic68, #pic79, #pic90, #pic101, #pic112, #pic123, #pic134, #pic145, #pic156 {
  top: 5%;
  left: 32%;
}

#pic3, #pic14, #pic25, #pic36, #pic47, #pic58, #pic69, #pic80, #pic91, #pic102, #pic113, #pic124, #pic135, #pic146, #pic157 {
  top: 3%;
  left: 56%;
}

#pic11, #pic22, #pic33, #pic44, #pic55, #pic66, #pic77, #pic88, #pic99, #pic110, #pic121, #pic132, #pic143, #pic154,  #pic165 {
  top: 5%;
  left: 80%;
}

#pic4, #pic15, #pic26, #pic37, #pic48, #pic59, #pic70, #pic81, #pic92, #pic103, #pic114, #pic125, #pic136,  #pic147, #pic15 {
  top: 34%;
  left: 5%;
}

#pic5, #pic16, #pic27, #pic38, #pic49, #pic60, #pic71, #pic82, #pic93, #pic104, #pic115, #pic126, #pic137,  #pic148, #pic159 {
  top: 35%;
  left: 27%;
}

#pic6, #pic17, #pic28, #pic39, #pic50, #pic61, #pic72, #pic83, #pic94, #pic105, #pic116, #pic127, #pic138,  #pic149, #pic160 {
  top: 35%;
  left: 50%;
}


#pic7, #pic18, #pic29, #pic40, #pic51, #pic62, #pic73, #pic84, #pic95, #pic106, #pic117, #pic128, #pic139,  #pic150, #pic161 {
  top: 35%;
  left: 75%;
}

#pic8, #pic19, #pic30, #pic41, #pic52, #pic63, #pic74, #pic85, #pic96, #pic107, #pic118, #pic129, #pic140,  #pic151, #pic162 {
  top: 65%;
  left: 3%;
}

#pic9, #pic20, #pic31, #pic42, #pic53, #pic64, #pic75, #pic86, #pic97, #pic108, #pic119, #pic130, #pic141,  #pic152, #pic163 {
  top: 70%;
  left: 23%;
}

#pic10, #pic21, #pic32, #pic43, #pic54, #pic65, #pic76, #pic87, #pic98, #pic109, #pic120, #pic131, #pic142,  #pic153, #pic164 {
  top: 67%;
  left: 46%;
}
