body {
     background: lightsteelblue;
     padding-top: 3em;
     font-family: "Lucida Sans Unicode";
}

#bottom {
  display:block;
}

.layout {
  left: 0; right: 0;
  margin: auto;
}

.text {
  display: block;
}
